{% extends 'layouts/message.html' %}

{% block head_scripts %}
<script type="text/javascript">
  ga('send', {
    hitType: 'event',
    eventCategory: 'Formspree',
    eventAction: 'confirm-sent',
    eventLabel: 'Confirmation Sent'
  });
  var onloadCallback = function () {
    grecaptcha.render('recaptcha', {
      'sitekey': {{ config.RECAPTCHA_KEY | tojson | safe }},
  'callback' : function () {
    document.querySelector('form').submit()
  },
  'size': window.innerWidth < 400 ? 'compact' : 'normal'
      });
    }
</script>
{% include 'amplitude.html' %}
<script type="text/javascript">
  amplitude.getInstance().logEvent('Sent Activation', {
    host: '{{host}}',
    testing: '{{host}}'.match(/(localhost|test)/g) !== null
  });
</script>
{% endblock head_scripts %}

{% block content %}
<h1>Check Your Email</h1>
<p><strong>This form needs Activation.</strong> We've sent you an email containing an 'Activate Form' link. Just click
  it and your form will be activated!</p>

{% if resend %}
<a href="#" class="resend">Resend activation email?</a>
<form class="resend" style="display: none" action="{{ url_for('resend_confirmation', email=email) }}" method="POST">
  <div id="recaptcha" style="text-align:center; display:inline-block"></div>
  <input type="hidden" name="host" value="{{ host }}">
</form>
{% endif %}

{% endblock %}

{% block tail_scripts %}
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
{% endblock tail_scripts %}