/** @format */

.login {
  .row {
    padding: 2.2em 0;
  }

  input,
  button {
    font-size: 1.2em;
    margin: 2px 0 1em 0;
  }
}

.no-underline {
  border-bottom: none !important;
}

.no-border {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

button + button {
  margin-left: 11px;
}

#react-app {
  min-height: 300px;
}

.dashboard {
  .tabs {
    margin: -3em 0 1em;

    @media (max-width: $media-break-mobile) {
      margin: -1em 0 1em;
    }

    h4 {
      margin-top: 0;
    }
    a {
      &.active {
        color: $accent-color;
        cursor: default;
        text-decoration: none;
      }
    }
  }

  .code-tabs {
    & > * {
      display: inline-block;
      cursor: pointer;
      border-radius: 2px 2px 0 0;
      padding: 7px 15px;
      margin-right: 2px;
      background-color: #9a9a9a;
      color: white;
      font-family: monospace;

      &:hover {
        background-color: #737373;
      }

      &.active {
        background-color: #304148;
        color: #f8f8f2;
      }
    }
  }

  .integration-nocode {
    color: #f8f8f2;
    text-align: center;
    padding: 18px;

    p {
      color: inherit;
    }

    a {
      font-weight: bold;
    }
  }

  .row:after {
    content: '.';
    display: none;
  }

  span[class^='ion-'] {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    width: 32px;
  }

  .delete {
    color: $alert-red;
    border-color: $alert-red;
  }

  .delete:hover {
    transition: color 0.3s ease-in-out;
    color: lighten($alert-red, 10%);
  }

  a.button.export {
    width: 11em;
    text-align: center;
    display: inline-block;
    margin: 0 0 20px 20px;
  }

  table {
    text-align: left;
    width: 100%;

    thead th {
      padding-bottom: 10px;
      max-width: 50%;

      &:last-child {
        width: 1px;
      }
    }

    td {
      text-overflow: ellipsis;
    }

    .responsive-only {
      display: none;
    }

    &.responsive {
      @media screen and (max-width: 600px) {
        border: 0;

        thead {
          display: none;
          margin-bottom: 10px;
        }

        tr {
          margin-bottom: 10px;
          display: block;
          border-bottom: 1px solid #ddd;

          td {
            display: block;
            font-size: 13px;
            margin: 10px auto;
            max-width: 100%;

            .tooltip {
              display: none;
            }

            .responsive-only {
              display: inline;
            }
          }

          td:before {
            content: attr(data-label);
            display: block;
            font-weight: bold;
          }

          td.right {
            text-align: left;
          }
        }

        tr:last-child {
          border-bottom: none;
        }
      }
    }

    //&.submissions {
    //  padding: 2px;
    //  background: #fff;
    //
    //  th {
    //    padding: 7px 0;
    //  }
    //  tr:first-child td {
    //    padding-top: 10px;
    //  }
    //  td {
    //    padding: 3px 1px;
    //  }
    //  pre {
    //    font-family: inherit;
    //    margin: 0;
    //    max-width: 300px;
    //  }
    //
    //  // hiding full content when it is too big
    //  tr pre.full {
    //    display: none;
    //  }
    //  tr:target pre {
    //    // showing long text on click.
    //    display: none;
    //    & + pre.full {
    //      display: block;
    //    }
    //  }
    //}

    &.forms,
    &.emails {
      td.target-email {
        max-width: 250px;
        word-break: break-word;
      }
      td.n-submissions {
        min-width: 150px;
      }

      tr.new a:not(*:hover) {
        border-bottom: 1px dotted;
        margin-bottom: -1px;
        line-height: 1em;
      }
      tr.new .never {
        font-size: 15px;
      }
      tr:not(.new) *:not(.n-submissions) a:not(*:hover) {
        color: inherit;
      }
    }

    &.emails tr:first-child td {
      padding-bottom: 10px;
    }

    &.emails td:first-child .delete {
      transform: scaleX(0);
      font-size: 20px;
      width: 0;
      transition: all 200ms;
    }
    &.emails td:first-child:hover .delete {
      transform: scaleX(1);
      width: auto;
      margin-right: 2px;
    }
    &.emails td:last-child {
      text-align: center;
    }
  }

  .pad-top {
    padding-top: 0.9em;
  }

  #card-list {
    border-collapse: collapse;

    tr {
      border: solid 2px $primary-color;
      border-radius: 3px;
      visibility: visible;
      opacity: 1;

      transition-property: visibility, opacity;
      transition-duration: 0s, 0.3s;
      transition-timing-function: ease-in-out;
    }
    td {
      background: #fff;
      color: #000;
      padding: 7px 15px;
    }
    .fa-chevron-right {
      transition: transform 0.25s ease-in-out;
    }
    tr:nth-child(odd) {
      cursor: pointer;
    }

    .hidden {
      opacity: 0;
      visibility: hidden;
      border: none;

      transition-property: opacity, visibility;
      transition-duration: 0.3s, 0s;

      * {
        height: 0;
      }
    }
  }

  .create-form {
    .info {
      font-size: 13px;
      margin-bottom: 10px;
      text-align: right;
    }

    .collapsable {
      transition-duration: 200ms;
      transition-property: height, opacity;
      height: 40px;
    }

    @media (max-width: $media-break-mobile) {
      .collapsable {
        opacity: 0;
        height: 0;
        display: none;
      }
      .col-1-3.collapsable {
        margin-bottom: 0 !important;
      }

      .right,
      .info {
        text-align: left;
      }
    }
  }

  /* icon morphing */
  .fa-unlock:hover::before {
    content: '\f023';
  }
  .fa-lock:hover::before {
    content: '\f09c';
  }
}

.status-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #666260;
  &.green {
    background-color: olivedrab;
  }
  &.yellow {
    background-color: goldenrod;
  }
  &.red {
    background-color: crimson;
  }
}

#submissions {
  overflow-x: auto;
  a.filter {
    font-size: small;
    cursor: pointer;

    &.active {
      cursor: default;
      text-decoration: none;
      color: $accent-color;
    }
  }

  .submission-detail {
    background: $code-background-color;
    padding: 0 20px 20px 0;

    .submission-field {
      padding: 20px 0 0 20px;
      display: inline-block;
      vertical-align: top;
      min-width: 50%;
    }

    h4 {
      margin: 0 0 10px 0;
    }

    pre {
      margin: 0;
    }
  }
}

#whitelabel {
  #from_name::after {
    content: ' submissions@formspree.io';
    color: grey;
  }

  .syntax_ref {
    position: relative;
    top: 2em;
    display: inline-block;

    @media (max-width: $media-break-mobile) {
      text-align: left;
      top: 0;
    }
  }

  .right {
    @media (max-width: $media-break-mobile) {
      text-align: left;
    }
  }

  .switch {
    padding-top: $spacing;
  }
}

#whitelabel-preview-modal {
  .preview {
    padding: 0;
    border: 2px dotted #aaa;
    width: 100%;
    height: 450px;
  }
}

.CodeMirror {
  z-index: 0;
  padding: 10px;
  height: auto;
  font-size: 90%;
}

#plans {
  ul.product-list {
    padding-inline-start: 0;
    li {
      list-style: none;
      &.redundant {
        color: lighten(#000, 70%);
      }
    }
  }

  .product-button {
    margin-bottom: 2em;
  }

  .small {
    font-size: smaller;
    color: lighten(#000, 50%);
  }
}

label.plan-select {
  display: block;
  padding-left: 22px;
  text-indent: -22px;
  margin-bottom: 5px;
  input {
    width: 12px;
  }
}

.flag-input {
  background-repeat: no-repeat;
  background-size: contain;
  input {
    visibility: hidden;
    margin: 0;
  }
}

#submissionActions {
  box-shadow: 0px 0px 10px $disabled-color;
  position: fixed;
  background: $background-color;
  padding: 5px 0;

  span.sub-count {
    margin-right: 10px;

    @media (max-width: $media-break-mobile) {
      display: none;
    }
  }

  .inner-frame {
    max-width: 950px + 2 * $spacing + 4 * $site-margins-wide;
    margin: 0 auto;
    padding: 0 $spacing + 2 * $site-margins-wide;

    @media (max-width: $media-break-narrow) {
      padding: 0 $spacing + 2 * $site-margins-narrow;
      max-width: 950px + 2 * $spacing + 4 * $site-margins-narrow;
    }

    @media (max-width: $media-break-mobile) {
      padding: 0 $spacing + $site-margins-mobile;
      max-width: 950px + 2 * $spacing + 2 * $site-margins-narrow;
    }
  }

  opacity: 0;
  transition-property: top, opacity;
  transition-duration: 0s;
  transition-timing-function: ease-out;

  right: 0;
  bottom: -100%;
  left: 0;

  &.active {
    opacity: 1;
    transition-duration: 0.2s;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

#routing_rules {
  .rule {
    display: flex;
    .rule-part {
      flex-shrink: 1;
      margin-left: 2px;
    }
    :first-child {
      margin-left: 0;
    }
    .rule-button {
      margin-left: 2px;
    }
  }
  td {
    padding-bottom: $spacing;
  }
  tr:last-child td {
    padding-bottom: 0;
  }
}
