/** @format */

.container.form-status-message {
  margin: 88px auto 0px;
  padding: 44px;
  background: $surface-color-variant;
  border-color: $border-color;

  h1 {
    font-size: 1.8em;
  }

  @media (min-width: $media-break-mobile) {
    max-width: 500px;
  }

  @media (max-width: $media-break-mobile) {
    margin-right: 20px;
    margin-left: 20px;
  }

  &:after {
    content: none;
  }

  .row:after {
    content: none;
  }
}

.container.form-status-footer {
  margin: 0 auto;
  padding: 20px 44px;
}
