/** @format */

@import 'variables.scss';
@import 'normalize.scss';
@import 'grid.scss';
@import 'typography.scss';
@import 'hint/hint.scss';
@import 'components.scss';
@import 'dashboard.scss';
@import 'nav.scss';
@import 'settings.scss';
@import 'ionicons/ionicons.scss';
@import 'react-table.scss';
@import 'sitenav.scss';
@import 'formstatus.scss';
@import 'invoice.scss';
@import 'logos.scss';
@import 'toastify.scss';

body {
  background-color: $background-color;
}

.site {
  width: 100%;
}

.site-container {
  margin: auto;
  max-width: 1680px;
  min-height: 100vh;
}

.site-frame {
  padding: 0 $site-margins-wide $site-margins-wide;

  @media (max-width: $media-break-narrow) {
    padding: 0 $site-margins-narrow $site-margins-narrow;
  }

  @media (max-width: $media-break-mobile) {
    padding: 0 $site-margins-mobile $site-margins-mobile;
  }
}

.section {
  padding: $section-vertical-padding $site-margins-wide;
  background-color: $surface-color-variant;

  &.grey {
    background: $surface-color;
  }

  &#header {
    background-color: $background-color;
    padding: $header-vertical-padding $site-margins-wide;
  }

  @media (max-width: $media-break-narrow) {
    padding: $section-vertical-padding $site-margins-narrow;
  }

  @media (max-width: $media-break-mobile) {
    padding: $section-vertical-padding 0;

    &#header {
      padding: $header-vertical-padding $site-margins-narrow;
    }
  }
}

#body {
  min-height: 300px;
  padding: 0 $spacing;
}

#footer {
  padding: 0 $spacing;
}

.container {
  padding: $spacing 0;
  max-width: 950px;
  margin: 0 auto;

  &:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  &.narrow {
    @media (min-width: $media-break-mobile) {
      max-width: 600px;
    }
  }

  @media (max-width: $media-break-mobile) {
    max-width: 100% !important;
  }
  @media (min-width: $media-break-mobile) {
    &.spacer {
      margin-top: 2 * $spacing;
    }
  }
}

img#loading {
  width: 44px;
  height: 44px;
}

p.code {
  font-size: 0.8em;
  font-family: $code-font;
  border: 1px solid $border-color;
  background: $code-background-color;
  @media (max-width: $media-break-mobile) {
    overflow: auto;
  }
}

span.code {
  font-family: $code-font;
  display: inline-block;
  padding: 0 0.2em;
  border: 1px solid $border-color;
  background: $code-background-color;
  font-size: 0.9em;
}

.tooltip {
  font-weight: 600;
  cursor: help;
}

#toast-container {
  right: 30%;
  left: 30%;
  width: 40%;
}

/* ----------- *
 * FORM STUFF  *
 * ----------- */

input,
textarea,
.input {
  font-size: 0.8em;
  &.code {
    font-family: $code-font;
  }
  font-family: $body-font;
  color: $type-color;
  border: 1px solid $border-color;
  background: $input-background-color;
  padding: 0.9em;
  width: 100%;
  text-overflow: ellipsis;

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $disabled-color;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $disabled-color;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $disabled-color;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $disabled-color;
  }

  &[disabled],
  &[disabled]:hover,
  &.disabled {
    color: $disabled-color;
    border-color: $disabled-color;
  }
}

input[type='checkbox'],
input[type='radio'] {
  width: auto;
  margin-right: 6px;
}

form input,
form textarea,
form select,
form .select {
  margin-bottom: 0.5em;
}

button,
a.button,
input[type='submit'] {
  &.no-uppercase {
    text-transform: none !important;
  }
  white-space: nowrap;
  font-size: 0.7em;
  font-family: $title-font;
  font-weight: 400;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  text-decoration: none;

  border: 2px solid $primary-color;
  color: $type-color-on-primary-variant;
  background-color: $primary-color;
  padding: 1em 1.8em 0.9em;

  transition-property: color, border, background;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;

  &.emphasize {
    font-weight: 600;
    border-color: $accent-color;
    color: $type-color-on-accent;
    background-color: $accent-color;
  }

  &.deemphasize {
    font-weight: 600;
    background-color: transparent;
    color: $primary-color;
  }

  &:hover {
    background-color: darken($primary-color, 8%);
    border-color: darken($primary-color, 8%);

    &.emphasize {
      border-color: darken($accent-color, 8%);
      background-color: darken($accent-color, 8%);
    }

    &.deemphasize {
      background-color: rgba(0, 0, 0, 8%);
      color: darken($primary-color, 8%);
      border-color: darken($primary-color, 8%);
    }
  }

  &:focus {
    outline: 0;
  }

  &[disabled],
  &[disabled]:hover,
  &.disabled {
    font-weight: 600;
    color: $disabled-color;
    border-color: $disabled-color;
    background: transparent;
  }

  &.inline {
    border: none;
    padding: 0;
    background: transparent;
    text-transform: none;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  font-size: 0.8em;
  font-family: $body-font;
  border: 1px solid $border-color;
  background: $input-background-color;
  width: 100%;
  padding: 0.9em;

  &[disabled],
  &[disabled]:hover,
  &.disabled {
    color: $disabled-color;
    border-color: $disabled-color;
  }

  &:focus {
    outline: none;
  }
}
