/** @format */

#settings {
  p#status {
    float: right;
    font-size: 0.7em;
    margin-right: 2%;

    &.error {
      color: $error-red;
    }
  }

  .switch,
  form:nth-of-type(2) {
    margin: 14px 0 4px 0 !important;
  }

  p.description {
    line-height: 1em;
    display: inline-block;
    font-size: 0.8em;
    margin: 0;
    margin-top: 0.2em;
    color: #999999;
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

#apikey {
  display: flex;
  align-items: center;

  & > div {
    & > div {
      display: flex;
      font-size: 80%;
      align-items: center;

      & > span {
        &:nth-child(2) {
          flex-grow: 3;
        }
      }
    }

    button {
      margin-left: 10%;
    }
  }
}
