/** @format */

body {
  font-weight: 400;
  line-height: 1.45em;
  font-family: $body-font;
  color: $type-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  & > small {
    font-size: 0.65em;
  }

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;

  font-weight: 600;
  line-height: 1.3em;
}

h1,
h2,
h3 {
  color: $primary-color;

  &.light {
    color: $type-color;
    font-weight: 400;
  }
}

h4,
h5,
h6 {
  color: $type-color-variant;

  &.light {
    color: $type-color;
    font-weight: 400;
  }
}

a {
  color: $type-color-variant;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-weight: 600;

  &:focus {
    outline: 0;
  }

  &:hover {
    text-decoration: underline;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.caps {
  text-transform: uppercase;
}

.subtext {
  color: $type-color-variant;
  font-size: small;
}

.text-highlight {
  padding: 2px 6px;
  font-weight: bold;
  font-size: 20px;
  color: $type-color-on-primary;
  background-color: $primary-color;
  margin: 3px;
}

.v-middle {
  & > * {
    vertical-align: middle;
    display: inline-flex;
  }
  & > a {
    display: inline-flex;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.05rem;
  }
}

span.emphasize {
  color: $accent-color;
}
