<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>90 Percent Warning</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Open+Sans:400,700|Source+Code+Pro" rel="stylesheet" data-premailer="ignore">
    <link href="formspree/templates/email/pre_inline_style/email_styles.css" media="all" rel="stylesheet" type="text/css" />
    <style media="screen" type="text/css" data-premailer="ignore">
      @media only screen and (max-width: 640px) {
        h1, h2, h3, h4 {
          font-weight: 700 !important;
          margin: 22px 0 5px !important;
        }
        h1 {
          font-size: 22px !important;
        }
        h2 {
          font-size: 18px !important;
        }
        h3 {
          font-size: 16px !important;
        }
        .container {
          padding-top: 22px !important;
        }
        .content-wrap {
          padding: 11px !important;
        }
      }
    </style>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" bgcolor="#ffffff" itemscope itemtype="http://schema.org/EmailMessage">

    <!-- body wrapper -->
    <table cellpadding="0" cellspacing="0" border="0" bgcolor="#f9f9f8" class="body-wrap">
      <tr>
        <td valign="top" align="center">

          <!-- email wrapper -->
          <table cellpadding="0" cellspacing="0" border="0" class="email-wrap">
            <tr>
              <td class="container">

                <!-- header -->
                <table cellpadding="0" cellspacing="0" border="0" class="header">
                  <tr>
                    <td align="center">
                      <div class="brand-mark">
                        <img src="{{config.CDN_URL }}/static/img/formspree-logo-mark.png" alt="Formspree Logo Mark" width="66px" height="66px" class="logo">
                      </div>
                      <p class="email-title">90% Warning</p>
                    </td>
                  </tr>
                </table>
                <!-- /header -->

                <!-- main wrapper -->
                <table cellpadding="0" cellspacing="0" border="0" class="main content">
                  <tr>
                    <td class="content-wrap">

                      <!-- content wrapper -->

                      <table cellpadding="0" cellspacing="0">
      									<tr>
      										<td class="alert alert-warning">
      											You've hit <strong>90%</strong> of the {{config.SERVICE_NAME}} monthly limit.
      										</td>
      									</tr>
      									<tr>
      										<td class="content-block">
      											&nbsp;
      										</td>
      									</tr>
      									<tr>
      										<td class="content-block">
      											Hey there,<br><br>
        										You've reached 90% of the {{ config.SERVICE_NAME }} free monthly limit. You get up to {{ limit }} submissions per month for free. After that, we will keep up to {{ config.ARCHIVED_SUBMISSIONS_LIMIT }} past submissions in our archive that you can access at any time when you upgrade to a paid plan.
      										</td>
      									</tr>
      									<tr>
      										<td class="content-block">
                            <strong>Upgrading is easy!</strong> Take a look at our <a href="{{ config.SERVICE_URL }}/plans">plans page</a>. When you upgrade, in addition to getting unlimited monthly submissions, you get all the <a href="{{ config.SERVICE_URL }}/index#features">{{ config.UPGRADED_PLAN_NAME }} features</a>, including invisible emails, sitewide forms, and access to the submission archive.
      										</td>
      									</tr>
      									<tr>
      										<td class="content-block">
      											<a href="{{ config.SERVICE_URL }}/plans" class="btn-primary">Sign up today!</a>
      										</td>
      									</tr>
      								</table>

                      <!-- /content wrapper -->

                    </td>
                  </tr>
                </table>
                <!-- /main wrapper -->

                <!-- footer -->
                <table cellpadding="0" cellspacing="0" border="0" class="footer">
                  <tr>
                    <td align="center" class="aligncenter content-block">You are receiving this because you confirmed this email address on <a href="{{config.SERVICE_URL}}">{{config.SERVICE_NAME}}</a>. If you don't remember doing that, or no longer wish to receive these emails, please remove the form on {{host}} or <a href="{{unconfirm_url}}">click here to unsubscribe</a> from this endpoint.<br>
                    </td>
                  </tr>
                  {% include "footer.xml" %}
                </table>
                <!-- /footer -->

              </td>
            </tr>
          </table>
          <!-- /email wrapper  -->

        </td>
      </tr>
    </table>
    <!-- /body wrapper -->

  </body>
</html>
