/**
 * /* -------------------------------------
 *     GLOBAL
 *     A very basic CSS reset
 * -------------------------------------
 *
 * @format
 */

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.45;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
table {
  width: 100%;
}
table td {
  vertical-align: top;
}
img {
  max-width: 100%;
}

/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */

.body-wrap {
  background-color: #f9f9f8;
  margin: 0 auto;
}
.email-wrap {
  margin: 22px auto;
  max-width: 616px;
}
.content-wrap {
  padding: 22px;
}
.content-block {
  padding: 0 0 22px;
}

/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */

.header td {
  color: #103742;
  padding: 22px;
}
.logo {
  margin-bottom: 22px;
}
.email-title {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}
.footer td,
.upsell td {
  padding: 22px;
}
.footer p,
.footer a,
.footer td,
.upsell p,
.upsell td,
.disclaimer,
.disclaimer a {
  color: #918f8d;
  font-size: 12px;
}

/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  margin: 44px 0 0;
  font-weight: 400;
}
h1 {
  font-size: 32px;
  color: #0f0906;
  font-weight: 400;
}
h2 {
  font-size: 24px;
  color: #103742;
}
h3 {
  font-size: 18px;
  color: #666260;
}
h4 {
  font-size: 14px;
  font-weight: 700;
}
p,
ul,
ol {
  margin-bottom: 11px;
  font-weight: normal;
}
p li,
ul li,
ol li {
  margin-left: 5px;
  list-style-position: inside;
}
.form td {
  font-family: 'Source Code Pro', monospace;
}

/* -------------------------------------
    LINKS & BUTTONS
------------------------------------- */

a {
  color: #103742;
  text-decoration: underline;
}
.btn-primary {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  color: #f9f9f8;
  background-color: #103742;
  line-height: 2em;
  display: inline-block;
  padding: 0.707em 1.414em;
  cursor: pointer;
}

/* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */

.last {
  margin-bottom: 0;
}
.first {
  margin-top: 0;
}
.aligncenter {
  text-align: center;
}
.alignright {
  text-align: right;
}
.alignleft {
  text-align: left;
}
.clear {
  clear: both;
}

.shadow {
  background-color: #cccccc;
}

.shadow .shadow-overlay {
  bottom: 4px;
  position: relative;
  right: 4px;
}

/* -------------------------------------
    ALERTS
    Change the class depending on warning email, good email or bad email
------------------------------------- */

.alert {
  color: #c4001a;
  padding: 22px;
  text-align: center;
}
.alert strong {
  font-weight: 700;
}
.alert.straight-edge {
  border-radius: 0;
}
.alert.alert-warning {
  color: #f9f9f8;
  background-color: #c4001a;
}
.alert.alert-bad {
  color: #f9f9f8;
  background-color: #d0021b;
}
.alert.alert-good {
  color: #f9f9f8;
  background-color: #68b90f;
}
.alert.alert-neutral {
  color: #f9f9f8;
  background-color: #359173;
}

/* -------------------------------------
    Form
    Styles for the form data table
------------------------------------- */

.message {
  background-color: #fff;
}
.form {
  text-align: left;
}
.form td {
  padding: 11px;
}
.form .form-items td {
  font-size: 14px;
  border-bottom: #e3e3da 1px solid;
}
.form .form-items .total td {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  font-weight: 700;
}

/* -------------------------------------
    Promo Table
------------------------------------- */

table.promo {
  max-width: 400px;
}

table.promo td {
  vertical-align: middle;
  padding: 0;
}

table.promo td.left {
  padding-right: 20px;
  max-width: 250px;
}

table.promo td.right {
  max-width: 150px;
}

table.promo td .title {
  margin-top: 0;
}

/*# sourceMappingURL=styles.css.map */
