<h1>Index is hosted on a separate static site.</h1>

<h2>Here are some handy links for local development:</h2>

{% if current_user.is_authenticated %}
<p>Current user: {{ current_user.email }} (<a href="{{ url_for('logout') }}">logout</a>)</p>
{% if request.path != '/' %}<p><a href="/">Home</a></p>{% endif %}

<p><a href="{{ url_for('dashboard') }}">Your forms</a></p>
<p><a href="{{ url_for('account') }}">
        {% if current_user.has_feature('dashboard') %}Your{% else %}Upgrade{% endif %} account
    </a></p>
{% else %}
{% if request.path != '/' %}<p><a href="/">Home</a></p>{% endif %}
{% if request.path != '/login' %}
<p><a href="{{ url_for('login')}}" class="login">Account login</a></p>
<p><a href="{{ url_for('plans')}}" class="login">Plans page</a></p>
{% endif %}
{% endif %}

{% include 'amplitude.html' %}
<script>amplitude.getInstance().logEvent('Viewed Home Page');</script>
